@page "/wallets"
@using Endava.TechCourse.BankApp.Shared;
@inject HttpClient httpClient

<h3>Wallet</h3>
<br />
<br />
@if(wallets == null || !wallets.Any())
{
    <h5>No wallets to be displayed yet...</h5>
}
else
{
    <MudTable Items="@wallets">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Create Date</MudTh>
            <MudTh>Type</MudTh>
            <MudTh>Amount</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Id</MudTd>
            <MudTd>@context.CreateDate</MudTd>
            <MudTd>@context.Type</MudTd>
            <MudTd>@context.Amount</MudTd>
        </RowTemplate>
    </MudTable>
}

@code {
    private List<GetWalletDTO> wallets;

    protected override async Task OnInitializedAsync()
    {
        await GetWallets();
        StateHasChanged();

        await base.OnInitializedAsync();
    }

    public async Task GetWallets()
    {
        wallets = await this.httpClient.GetFromJsonAsync<List<GetWalletDTO>>("api/wallets");
    }
}
